.app-indicator {
  position: absolute;
  left: -32px;
  top: -150px;
  transform: translateX(-100%) translateY(50px) rotate(90deg);
  display: flex;
  align-items: center;

  &__line {
    width: 100px;
    height: 1px;
    background-color: var(--ui-border-color);
    display: block;
  }

  &__name {
    color: var(--text-color--light);
    font-size: 1.1rem;
    font-weight: 500;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 18px; 
    white-space: nowrap;
    margin: 0 0 0 132px;
  }
}

// Media

@media screen and (max-width: 768px) {
  .app-indicator {
    display: none;
  }
}