---
import MainLayout from '../layouts/Main/Main.astro';
---

<MainLayout title="Welcome to Astro.">
	<div class="home-page">
		Home
	</div>
</MainLayout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
</style>
