---
import MainLayout from '../layouts/Main/Main.astro';
import { client } from '@/graphql/client';
import { GET_HOME_QUERY } from '@/graphql/queries/home';

let data = null;

try {
	data = await client.query({
		query: GET_HOME_QUERY,
		variables: { uid: "home"}
	});

	console.log(data);
} catch (error) {
	console.log(error);
}

---

<MainLayout title="Home">
	<div class="home-page container">
		{ data?.data.page.__typename }
	</div>
</MainLayout>
