---
import Layout from '../layouts/Layout.astro';
import { gql } from '@apollo/client/core';
import { client } from '@/graphql/client';

let data = null;

try {
	data = await client.query({
		query: gql`
			query getPages {
				allPages {
					edges {
						node {
							name
						}
					}
				}
			}
		`
	});

	console.log(data.data.allPages.__typename);
} catch (error) {
	console.log(error);
}

---

<Layout title="Welcome to Astro.">
	<main>
		Home { data?.data?.allPages?.__typename }
	</main>
</Layout>

<style lang="scss">
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
		color: $primary;
	}
</style>
