---
import MainLayout from '../layouts/Main/Main.astro';
import { client } from '@/api/client';
import SectionCta from '@components/Sections/SectionCta/SectionCta.vue';
import type { CmsSection, CmsSectionCta } from '@/types/models/Cms';
import { CmsSections } from '@/types/enums/Cms';


let response: any;

try {
	response = await client.getByUID('page', 'home')

	// console.log(response.data.body)

} catch (error) {
	console.log(error);
}

const sectionCtaData: CmsSectionCta = response?.data.body.find((section: CmsSection) => section.slice_type === CmsSections.Cta);
---

<MainLayout title="Home">
	<div class="home-page">
		<SectionCta data={sectionCtaData} client:visible />
	</div>
</MainLayout>
