.app-footer {
  position: relative;

  &__content {
    display: flex;
    align-items: center;
    gap: 50px;
    background-color: var(--ui-background-color--accent);
  }

  &__menu {
    display: flex;
    gap: 30px;

    &-link {
      font-size: 1.1rem;
      font-weight: 700;
      color: var(--text-color-medium);
      text-decoration: none;
      display: block;
      padding: 15px;
    }
  }
}

// Media

@media screen and (max-width: 768px) {
  .app-footer {
    &__content {
      gap: 30px;
    }
  }
}

@media screen and (max-width: 576px) {
  .app-footer {
    margin: 120px 0 0 0;

    &__content {
      gap: 32px;
      flex-direction: column;
    }

    &__logo {
      margin: -60px 0 0 0;
    }

    &__menu {
      flex-direction: column;
      text-align: center;
      justify-content: center;
      text-align: center;
      margin: 0 0 32px 0;
    }
  }
}