.app-navigation {
  position: sticky;
  top: 0;
  padding: 56px 0;

  &__container {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin: 0 90px 0 0;
    height: 40px;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  &__hamburger {
    display: none;
  }

  &__menu {
    display: flex;
    gap: 30px;

    &-link {
      display: block;
      padding: 8px 15px;
      font-size: 1.1rem;
      font-weight: 700;
      text-decoration: none;
      color: var(--text-color-medium);
    }
  }
}

// Media

@media screen and (max-width: 768px) {
  .app-navigation {
    padding: 32px 0;

    &__logo {
      height: 32px;
    }

    &__container {
      justify-content: space-between;
    }

    &__menu {
      position: fixed;
      left: 0;
      top: calc(40px + 64px);
      width: 100%;
      height: calc(100vh - 40px);
      flex-direction: column;
      opacity: 0;
      pointer-events: none;
      align-items: center;
      transition: opacity var(--timing-animation);

      &--is-active {
        opacity: 1;
        pointer-events: all;
        background-color: var(--ui-background-color);
        z-index: 100;
      }
    }

    &__hamburger {
      padding: 10px 10px 10px;
      border: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
      background-color: transparent;
      position: relative;
      width: 90px;
  
      &:hover, &:focus {
        .app-navigation__hamburger {
          &-text {
            // color: white;
          }
        }
      }
  
      &--is-active {
        .app-navigation__hamburger-line {
          background-color: transparent !important;
  
          &::before {
            transform: translateY(7px) rotate(45deg);
          }
  
          &::after {
            transform: translateY(-7px) rotate(-45deg);
          }
        }
      }
  
      &-text {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.1rem;
        color: var(--text-color--darker);
        font-weight: 600;
      }
  
      &-box {
        width: 25px;
        height: 16px;
        display: inline-block;
        position: relative;
      }
  
      &-line {
        width: 100%;
        height: 3px;
        background-color: var(--text-color--darker);
        position: absolute;
        border-radius: 5px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color 0.05s 0.1s ease-in-out;
  
        &::before, &::after {
          width: 100%;
          height: 3px;
          background-color: var(--text-color--darker);
          position: absolute;
          border-radius: 5px;
          content: '';
          left: 0;
          transition: transform 0.1s 0.1s ease-in-out,
        }
  
        &::before {
          top: -7px;
        }
  
        &::after {
          top: 7px;
        }
      }
    }
  }
}