.app-button {
  position: relative;
  padding: 24px 32px;
  background-color: var(--ui-background-color--dark);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--text-color--accent);
  transition: background-color var(--timing-hover);
  
  &:hover {
    background-color: var(--ui-background-color--medium );
  }

  &:active {
    background-color: var(--ui-background-color--active);
  }
}